<%- include('header'); -%>
<div class="container">
    <div class="profile">
        <div class="img"><img src="https://f8n-production.s3.amazonaws.com/creators/profile/c8gley51s-nyan-cat-large-gif-gif-mbf1sa.gif" style="height:120px; width:120px;" alt="EfeSoroglu"></a></div>
        <h2><%= user.name %></h2>
        <span><%= user.email %></span>
        <a href="/logout">Çıkış Yap</a>
    </div>
</div>
<%- include('footer'); -%>

